html, body {
  margin: 0;
  padding: 0;
  background-color: #b4f4ff;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: pink;
  padding: 20px;
}
